seaborn
pyarrow
PyYAML
pandas
scikit-learn
numpy
h5py
tqdm
spacy
tensorboard
tensorboardX
nni==2.10.1
bitsandbytes==0.45.3
accelerate==1.0.1
appdirs==1.4.4
loralib==0.1.2
datasets==3.3.2
fire==0.7.0
peft==0.13.2
transformers==4.45.2
sentencepiece==0.2.0
wandb==0.19.7
scipy==1.15.2
sentence-transformers==2.2.2